.product-list {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.table {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

// .pagination {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-top: 20px;
// }

// .pagination label {
//   margin-right: 10px;
// }

// .pagination select {
//   padding: 5px;
//   margin-right: 10px;
// }

.add-product-button-container {
  button {
    background-color: var(--color-brand-yellow);
    color: var(--color-brand-blue);
  }
}
