@import "./scss/tokens.scss";

*,
*:before,
*:after {
  box-sizing: inherit;
  border-radius: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

html {
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-base);
}

button {
  padding: 1em;
  font-weight: bold;
  color: var(--color-brand-blue);
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

input {
  width: 100%;
  height: 40px;
  font-size: 12pt;
  border: 1px solid #b8b9ba;
}
