:root {
  --color-brand-yellow: #f5e25a;
  --color-brand-disabled-yellow: #fdf49f;
  --color-brand-blue: #192258;
  --color-brand-gray: #b8b9ba;
  --color-brand-disabled-gray: #b0b4b7;
  --color-brand-sky-blue: #eaecf3;
  --color-brand-error: red;
  --font-size-base: 16px;
}
