.add-product {
  max-width: 400px;
  margin: auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}
.actions {
  display: flex;
  justify-content: center;
}
.reset-button {
  background-color: var(--color-brand-sky-blue);
  color: var(--color-brand-blue);
}

.send-button {
  background-color: var(--color-brand-yellow);
  color: var(--color-brand-blue);
}

.send-button:disabled {
  margin-left: 5em;
  background-color: var(--color-brand-disabled-yellow);
  color: var(--color-brand-disabled-blue);
}
